In [1]:
import pandas as pd

In [2]:
xyz = pd.read_table("06_tx_1965-2023_jrk.xyz", delim_whitespace=True)

/var/folders/g4/8z1prdqs5l3dj5xzv765t_sc0000gn/T/ipykernel_4343/152992696.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_table is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  xyz = pd.read_table("06_tx_1965-2023_jrk.xyz", delim_whitespace=True)

In [3]:
xyz

                 X          Y     Z         T   loc
0        109682.41  558181.19  3.77  5-8-1965   900
1        109677.53  558180.09  3.63  5-8-1965   900
2        109672.65  558179.00  3.55  5-8-1965   900
3        109667.77  558177.91  3.41  5-8-1965   900
4        109662.89  558176.82  3.16  5-8-1965   900
...            ...        ...   ...       ...   ...
1380678  117558.08  579018.26 -1.44  3-4-2023  3081
1380679  117551.46  579025.77 -1.70  3-4-2023  3081
1380680  117544.85  579033.27 -1.88  3-4-2023  3081
1380681  117538.24  579040.77 -2.14  3-4-2023  3081
1380682  117531.63  579048.27 -2.21  3-4-2023  3081

[1380683 rows x 5 columns]