In [47]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
xyz = pd.read_table("06_tx_1965-2023_jrk.xyz", delim_whitespace=True)

/var/folders/g4/8z1prdqs5l3dj5xzv765t_sc0000gn/T/ipykernel_4343/152992696.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_table is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  xyz = pd.read_table("06_tx_1965-2023_jrk.xyz", delim_whitespace=True)

In [85]:
xyz

                 X          Y     Z         T   loc  year
0        109682.41  558181.19  3.77  5-8-1965   900  1965
1        109677.53  558180.09  3.63  5-8-1965   900  1965
2        109672.65  558179.00  3.55  5-8-1965   900  1965
3        109667.77  558177.91  3.41  5-8-1965   900  1965
4        109662.89  558176.82  3.16  5-8-1965   900  1965
...            ...        ...   ...       ...   ...   ...
1380678  117558.08  579018.26 -1.44  3-4-2023  3081  2023
1380679  117551.46  579025.77 -1.70  3-4-2023  3081  2023
1380680  117544.85  579033.27 -1.88  3-4-2023  3081  2023
1380681  117538.24  579040.77 -2.14  3-4-2023  3081  2023
1380682  117531.63  579048.27 -2.21  3-4-2023  3081  2023

[1380683 rows x 6 columns]

In [43]:
xyz["year"] = xyz["T"].str[-4:].astype(int)

[900, 915, 930, 945, 960, 976, 1000, 1001, 1013, 1033, 1053, 1073, 1093, 1108, 1128, 1148, 1168, 1190, 1210, 1230, 1249, 1269, 1289, 1298, 1312, 1332, 1352, 1372, 1392, 1410, 1430, 1450, 1470, 1490, 1506, 1526, 1546, 1566, 1586, 1604, 1624, 1644, 1664, 1684, 1703, 1723, 1743, 1763, 1778, 1793, 1813, 1833, 1853, 1873, 1893, 1912, 1932, 1952, 1972, 1992, 2011, 2031, 2051, 2071, 2091, 2111, 2131, 2151, 2171, 2191, 2211, 2231, 2251, 2271, 2291, 2300, 2320, 2340, 2360, 2380, 2400, 2420, 2440, 2460, 2480, 2500, 2520, 2540, 2560, 2580, 2600, 2620, 2640, 2660, 2680, 2700, 2720, 2740, 2760, 2780, 2800, 2820, 2840, 2860, 2880, 2900, 2901, 2917, 2937, 2957, 2977, 3001, 3021, 3041, 3061, 3081]

In [97]:
baseline = 1970
years = [year for year in xyz["year"].unique()]

for year in years: 
    concat_rows = []
    if year == baseline: 
        data_year = xyz[xyz["year"] == year] # slice dataframe based on year 
        locations = [location for location in data_year["loc"].unique()]
        for location in locations:  
            data_loc = data_year[data_year["loc"] == location]
            index_highest = data_loc['Z'].idxmax()
            # print(index_highest, data_loc.loc[index_highest, :].copy())
            concat_rows.append(data_loc.loc[index_highest, :].copy())
            # indexes_highest.append(index_highest)
            # row_highest = data_loc.iloc[index_highest]
            
            # fig = plt.figure(figsize = (8,8))
            # ax = plt.axes(projection='3d')
            # ax.grid()
            # ax.plot3D(data_loc["X"], data_loc["Y"], data_loc["Z"])
            # plt.show()
        
        baseline += 10 # add 10 years to baseline  
        data_highest = pd.DataFrame(concat_rows)
        print(data_highest)

               X          Y      Z           T   loc  year
32048  109589.70  558160.46   5.65   15-5-1970   900  1970
32216  109416.66  558737.74  13.91   18-6-1970   960  1970
32296  109252.12  559033.96  -0.70    8-6-1970  1000  1970
32360  111687.37  566818.76  16.51    8-7-1970  1793  1970
32527  111816.95  566975.09  13.20    7-7-1970  1813  1970
...          ...        ...    ...         ...   ...   ...
38774  118458.26  576788.51   9.95   11-8-1970  3001  1970
38956  118568.58  576964.52   7.60   11-8-1970  3021  1970
39048  118736.11  577077.77   8.39   11-8-1970  3041  1970
39147  118889.42  577206.02   6.86   11-8-1970  3061  1970
39240  119085.71  577285.51   7.73  12-10-1970  3081  1970

[70 rows x 6 columns]
                X          Y      Z          T   loc  year
108099  109775.12  558201.91   9.87   1-3-1980   900  1980
108343  109528.89  558762.82  14.87   1-3-1980   960  1980
108433  109454.85  558909.10   1.70  14-5-1980   976  1980
108503  109456.32  559082.99   1.30  14-5-1980  1000  1980
108595  109483.01  559112.41   9.28   1-3-1980  1001  1980
...           ...        ...    ...        ...   ...   ...
122393  118577.29  576653.49  15.67   1-3-1980  3001  1980
122633  118747.13  576761.99  14.87   1-3-1980  3021  1980
122788  118855.15  576942.75  14.39   1-3-1980  3041  1980
122915  119044.82  577029.74  13.85   1-3-1980  3061  1980
123060  119174.99  577184.24  16.49   1-3-1980  3081  1980

[113 rows x 6 columns]
                X          Y      Z         T   loc  year
271152  110316.75  558322.98  14.80  6-4-1990   900  1990
271715  110020.26  558411.08  11.66  6-4-1990   915  1990
272011  109900.42  558538.45  15.07  6-4-1990   930  1990
272305  109691.76  558645.18  14.17  6-4-1990   945  1990
272549  109714.31  558804.27  11.89  6-4-1990   960  1990
...           ...        ...    ...       ...   ...   ...
301937  118577.29  576653.49  15.59  6-4-1990  3001  1990
302322  118747.13  576761.99  14.70  6-4-1990  3021  1990
302676  118851.84  576946.50  13.92  6-4-1990  3041  1990
302975  119044.82  577029.74  13.68  6-4-1990  3061  1990
303314  119181.60  577176.74  16.36  6-4-1990  3081  1990

[116 rows x 6 columns]
                X          Y      Z          T   loc  year
609776  110316.75  558322.98  14.79  15-5-2000   900  2000
610317  109717.72  558343.46  13.49  15-5-2000   915  2000
610581  109900.42  558538.45  14.88  15-5-2000   930  2000
610860  109652.72  558636.46  15.36  15-5-2000   945  2000
611093  109621.60  558783.55  13.09  15-5-2000   960  2000
...           ...        ...    ...        ...   ...   ...
635602  118577.29  576653.49  15.74  15-5-2000  3001  2000
635972  118747.13  576761.99  14.68  15-5-2000  3021  2000
636349  118851.84  576946.50  14.15  15-5-2000  3041  2000
636682  119048.13  577025.99  14.00  15-5-2000  3061  2000
637061  119178.29  577180.49  16.33  15-5-2000  3081  2000

[116 rows x 6 columns]
                X          Y      Z          T   loc  year
886537  110622.24  564369.20  11.96  17-3-2010  1526  2010
886792  117538.18  575774.88  13.09  17-3-2010  2860  2010
887014  110703.24  564554.20  12.57  17-3-2010  1546  2010
887258  110718.00  564762.00  12.73  17-3-2010  1566  2010
887488  112333.90  567826.62  17.76  17-3-2010  1912  2010
...           ...        ...    ...        ...   ...   ...
913933  115350.55  572178.13  16.25  17-3-2010  2440  2010
914213  115416.33  572373.93  11.83  17-3-2010  2460  2010
914469  115562.32  572517.81   2.81  17-3-2010  2480  2010
914741  109918.14  561959.32  15.74  17-3-2010  1289  2010
914988  119181.60  577176.74  16.27  17-3-2010  3081  2010

[116 rows x 6 columns]
                 X          Y      Z         T   loc  year
1206953  109740.96  558194.27  17.14  7-3-2020   900  2020
1207208  109698.20  558339.09  15.59  7-3-2020   915  2020
1207457  109661.32  558485.00  14.93  7-3-2020   930  2020
1207700  109647.84  558635.36  17.27  7-3-2020   945  2020
1207947  109621.60  558783.55  15.81  7-3-2020   960  2020
...            ...        ...    ...       ...   ...   ...
1237253  118564.07  576668.49  14.99  7-3-2020  3001  2020
1237583  118687.61  576829.50  14.31  7-3-2020  3021  2020
1237911  118851.84  576946.50  14.08  7-3-2020  3041  2020
1238234  119044.82  577029.74  13.73  7-3-2020  3061  2020
1238595  119181.60  577176.74  16.27  7-3-2020  3081  2020

[116 rows x 6 columns]